/* General */
* {
    padding: 0px;
    margin: 0px;
    outline: none;
}
@font-face{
    font-family: Roboto;
    src: url(./assests/Roboto-Thin.ttf)
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    
}
.word {
    font-family: Roboto;
}
@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes slideinY {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Hearder */
#header1 {
    display: flex;
    justify-content: center;
    background-color: #FDDC5C;
    width: 100%;
    margin-bottom: 15px;
    padding: 50px 0px 20px 0px;
}
.i{
    height: 70px;
    width: 85px;
}
.i:nth-child(2) {
    margin-top: 20px;
}

#header2 {
    display: flex;
    justify-content: center;
    background-color: #BDF6FE;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

/* Container */
#container {
    position: relative;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    justify-content: space-between;
    transition: transform 1s, opacity 1s;
}
.members {
    border: 3px solid #868686;
    height: 40px;
    width: 300px;
    border-radius: 8px;
    font-size: 14pt;
    text-indent: 10px;
    margin-bottom: 10px;
}
.newMemberContainer {
    background-color: #E0E0E0;
    height: 40px;
    width: 275px;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
}
.newMemberContainer:hover {
    background-color: #a5a5a5;
    transition: 0.7s;
}

#qtd-container {
    margin-top: 30px;
}

/* Inputs */
.icon {
    height: 20px;
    width: 20px;
}
.remove {
    height: 30px;
    width: 20px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;
}
.containerInput {
    align-items: center;
    animation-duration: 1s;
    animation-name: slidein;
}


/* Buttons Qtd */
#btnQtd {
    margin-top: 10px;
}
#btnQtd > button {
    height: 50px;
    width: 50px;
}
.subtract {
    background-color: black;
    border-radius: 10px;
    height: 5px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
}
#btnQtd > input {
    margin: 0px 10px 0px 10px;
    text-align: center;
    height: 50px;
    width: 70px;
    border: none;
    font-size: 30pt;
}

/* Button Generate */
#btnContainer{
    width: 550px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1s, opacity 1s;
}
.btnModel {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #E0E0E0;
    justify-content: space-evenly;
    font-size: 18pt;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}
.btnModel:hover {
    background-color: #a5a5a5;
    transition: 0.7s;
}
.btnModel:last-child {
    display: none;
    animation-duration: 1s;
    animation-name: slidein;
}


/* Div groups */
#groupContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.modelGroupsCard {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 14pt;
    border-radius: 15px;
    width: 350px;
    padding: 20px;
    margin: 20px;
    animation-duration: 1s;
    animation-name: slideinY;
}

@media(max-width: 580px) {
    #btnContainer {
        width: 250px;
    }
}